body {
    background-color: black;
    background-image: url(./erkerembg.png);
}

p {
    color: white;
}

p.paragraf1 {
    color: yellow;
    border:thin solid white;
    width: 25%;
    padding: 1ex;
}

h1 {
    color: yellowgreen;
}

a:hover {
    text-decoration: none;
}

img.skyresize {
    width: 40%;
    height: auto;
    border: thick solid skyblue;
    border-style: groove;
    border-radius: 10%;
    opacity: 50%;
}

table {
    color: white;
    border: solid aqua;
    border-radius: 3ex;
    padding: 1ex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2.centered {
    color: white;
    text-align: center;
}

th {
    color: violet;
}

em {
    font-weight: bold;
    font-style: normal;
}